* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.accordion {
    width: 700px;
    margin: 100px auto; /* Centraliza */

    display: flex;
    flex-direction: column;
    gap: 24px;
}

.item {
    box-shadow: 0 0 32px rgba(0,0,0,0.1);

    padding: 24px;

    display: grid;
    grid-template-columns: auto 1fr auto; /* Auto - Ocupa o espaço que precisar */
    column-gap: 24px;
    row-gap: 32px;
    align-items: center;
}

.number, .text {
    font-size: 24px;
    font-weight: bold;
}

.number {
    color: #ced4da;
}

.icon {
    width: 24px;
    height: 24px;
}

.hidden-box {
    grid-column: 2; /* Coloca a caixa na coluna 2 */
    display: none; /* Faz sumir */
}

.hidden-box p {
    line-height: 1.6;
    margin-bottom: 24px;
}

.hidden-box ul {
    color: #868e96;
    margin-left: 20px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Estado Open */

.open {
    border-top: 4px solid #087f5b;
}

.open .hidden-box { /* Vai fazer aparecer o texto caso tenha a classe open */
    display: block; /* Sai de display: none */
}

.open .number, 
.open .text { /* Muda a cor do texto */
    color: #087f5b;
}